{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Nova Task
                    </h3>
                </div>
                <div class="panel-body">
                    {% set action = path('task.store') %}
                    {% set submitIcon = 'floppy-disk' %}
                    {% include 'task/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}